table, th, td {
    border: 1px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
  }

thead {
    font-family: 'Lato', sans-serif;
    font-weight: 50;
}

th {
  font-size: 18px;
  padding-inline: 30px
  border: 1px solid blue;
}